@import "./media.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font: "Roboto", sans-serif;

@mixin title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #d4c17f;
}

@mixin form-input {
  width: 255px;
  height: 50px;
  background: rgba(#ffffff, 0.2);
  border: none;
}

@mixin district-btn {
  cursor: pointer;
  width: 255px;
  height: 50px;
  background: #d4c17f;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  border: none;
  color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #242b33;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}
.container {
  margin: 0 auto;
  width: 1100px;
}
header {
  p {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
  }
}
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  .menu-list-item {
    padding-left: 10px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    a {
      text-decoration: none;
      color: #ffffff;
      &:hover {
        color: #d4c17f;
      }
    }
  }
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, rgba(36, 43, 51, 1) 0%, rgba(36, 43, 51, 0.4) 50%, rgba(36, 43, 51, 1) 100%),
    url(../img/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .hero-text {
    position: relative;
    bottom: 170px;
    width: 556px;
    font-family: "Playfair Display", serif;
    color: #d4c17f;
    font-weight: bold;
    font-size: 28px;
    line-height: 64px;
    text-align: center;
    img {
      position: absolute;
      bottom: -80px;
    }
  }
}
.hero-contacts {
  display: flex;
  position: absolute;
  bottom: 15px;
  .hero-adres {
    display: flex;
    &:first-child {
      margin-right: 100px;
    }
    p {
      padding-left: 10px;
    }
  }
}
#about {
  position: relative;
  height: 310px;
  display: flex;
  align-items: center;
  .about-item_bg_svg {
    position: absolute;
    right: 0;
    top: 40px;
  }
  .about-list {
    width: 70%;
    display: flex;
    margin: 0 auto;
    .about-item {
      width: (100%/4);
      text-align: center;
      > img {
        width: 80px;
        height: 80px;
      }
      > p {
        font-family: $font;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        padding-top: 20px;
      }
      .about-item_bike_svg {
        position: relative;
        bottom: -7px;
      }
    }
  }
}
h3 {
  @include title();
}

.catalog-title {
  padding: 100px 0;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  position: relative;
  &::before {
    content: "III";
    font-size: 400px;
    line-height: 533px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #ffffff;
    opacity: 0.02;
    position: absolute;
    left: -80px;
    top: -200px;
  }
  .apartement {
    position: relative;
    width: calc(50% - 20px);
    height: 320px;
    background: url(../img/loft.png), no-repeat;
    background-size: cover;
    p {
      position: absolute;
      bottom: 40px;
      left: 10px;
      font-size: 24px;
      line-height: 28px;
    }
    &:nth-child(odd) {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

#district {
  height: 560px;
  background: url(../img/form-bg.png);
}
.district-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.district-content-about {
  width: 50%;
  > h3 {
    padding: 180px 0 50px;
  }
  > p {
    font-size: 16px;
    line-height: 24px;
  }
}

.info-form {
  width: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  .info-form_input {
    width: 50%;
  }

  .info-form_item {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    @include form-input();
  }
  input.info-form_item {
    &::placeholder {
      color: #ffffff;
      text-align: center;
      position: relative;
      left: -10px;
    }
  }

  p {
    font-size: 12px;
    line-height: 16px;
  }

  input {
    @include form-input();
  }
}

.video {
  width: 719px;
  height: 650px;
  background: url(../img/video.png);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  &::before {
    content: "IV";
    font-size: 400px;
    line-height: 533px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #ffffff;
    opacity: 0.02;
    position: absolute;
    right: -300px;
    z-index: -1;
  }
}
.district-map {
  padding: 180px 0 100px;
}
.map {
  width: 1110px;
  height: 358px;
  position: relative;
  &::before {
    content: "V";
    font-size: 400px;
    line-height: 533px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #ffffff;
    opacity: 0.02;
    position: absolute;
    left: -100px;
    top: -200px;
    z-index: -1;
  }
}
.questions-title {
  padding-top: 180px;
}

.district-form {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 180px;
  p {
    font-size: 16px;
    line-height: 16px;
  }
  input {
    @include form-input();
    color: #ffffff;
  }
}

.district-btn {
  @include district-btn();
}
.district-form_item {
  font-size: 13px;
  line-height: 16px;
  padding-left: 10px;
  width: calc(25% - 40px);
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

input.district-form_item {
  &::placeholder {
    color: #ffffff;
    text-align: center;
    position: relative;
    left: -10px;
  }
}

footer {
  background: #2d343c;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 60px;
}
.footer-list {
  list-style: none;
  .email {
    color: #d4c17f;
  }
  li {
    padding-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    &:hover {
      color: #d4c17f;
    }
  }
}
.sicialmedia {
  display: flex;
  a {
    font-size: 25px;
    margin-right: 20px;
    &:hover {
      color: #d4c17f;
    }
  }
}
